@media(prefers-color-scheme: light) {
    :root {
        --bg-color: #ececec;
        --fg-color: #202020;
        --visited-link-color: #cc0066;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg-color: #202020;
        --fg-color: #ececec;
        --visited-link-color: #cc0066;
    }
}

:root {
    --body-margin: 10px;
    --border-radius: 10px;
    --border: 2px solid var(--fg-color);
}

body {
    margin: var(--body-margin);
    background-color: var(--bg-color);
    color: var(--fg-color);
}

main {
    display: grid;
    grid:
        'running       info' 32%
        'interesting   info' 32%
        'uninteresting info' 32%
        / 50ch         2fr;
        /* 'running interesting uninteresting' */
        /* 'info    info        info         '; */
    gap: 10px;
    height: calc(100vh - 2*var(--body-margin));
}

.experiment-list-title {
    text-align: center;
    margin: 0;
}

.experiment-list {
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: scroll;
}

.experiment-list-item {
    padding-left: 20px;
    line-height: 2;
}

.experiment-list-item:hover {
    background-color: gray;
}

#running-list, #interesting-list, #uninteresting-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#running-list { grid-area: running; }
#interesting-list { grid-area: interesting; }
#uninteresting-list { grid-area: uninteresting; }
.experiment-info {
    grid-area: info;
    padding: 10px;
}

.experiment-details {
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
}

table {
    border-collapse: collapse;
}
table td:not(:last-child) {
    padding-right: 1ch;
    border-right: 1px solid var(--fg-color);
}
table td:not(:first-child) {
    padding-left: 1ch;
    border-left: 1px solid var(--fg-color);
}

.source {
    border: var(--border);
    border-radius: var(--border-radius);
}
