@media(prefers-color-scheme: light) {
    :root {
        --bg-color: #ececec;
        --fg-color: #202020;
        --accent-color: #c80067;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg-color: #202020;
        --fg-color: #ececec;
        --accent-color: #cc0066;
    }
}

:root {
    --body-margin: 10px;
    --border-radius: 10px;
    --border: 2px solid var(--accent-color);
}

body {
    margin: var(--body-margin);
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: sans-serif;
}

main {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: calc(100vh - 2*var(--body-margin));
    gap: 10px;
}

main > * {
    height: 100%;
    flex-grow: 1;
}

#experiment-list {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#experiment-list > * {
    overflow: scroll;
    /* Make all children the same size */
    flex: 1 1 0;
}

.experiment-list-item:not(:last-child) {
    border-bottom: 1px solid black;
}

.experiment-list-item .experiment-list-uuid {
    font-size: 1.1em;
    display: block;
}

.experiment-list-item .experiment-list-run-list {
    margin: 10px 0;
    padding-left: 10px;
    list-style: '— ' inside;
}

#run-info {
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-by-side {
    display: flex;
    flex-direction: row;
}

.side-by-side > * {
    flex: 1 1 50%;
}

.info-box {
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.info-box-title {
    background: var(--accent-color);
    color: var(--bg-color);
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: var(--border);
}

.info-box-content {
    padding: 10px;
    flex-grow: 1;
}

.long {overflow: scroll;}

table {
    border-collapse: collapse;
}
table td:not(:last-child) {
    padding-right: 1ch;
    border-right: 1px solid var(--accent-color);
}
table td:not(:first-child) {
    padding-left: 1ch;
    border-left: 1px solid var(--accent-color);
}

.flex-spread {
    display: flex;
    justify-content: space-between;
}
