@media(prefers-color-scheme: light) {
    :root {
        --bg-color: #ececec;
        --fg-color: #202020;
        --visited-link-color: #cc0066;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg-color: #202020;
        --fg-color: #ececec;
        --visited-link-color: #cc0066;
    }
}

:root {
    --body-margin: 10px;
    --border-radius: 10px;
    --border: 2px solid var(--fg-color);
}

body {
    margin: var(--body-margin);
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: sans-serif;
}

main {
    display: grid;
    grid:
        'running       info' 32%
        'interesting   info' 32%
        'uninteresting info' 32%
        / fit-content(100%) auto;
    gap: 10px;
    height: calc(100vh - 2*var(--body-margin));
}

.experiment-list-title {
    text-align: center;
    margin: 0;
}

.experiment-list {
    border: var(--border);
    border-radius: var(--border-radius);
    height: 100%;
    overflow: scroll;
}

.experiment-list-item {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2;
    font-family: monospace;
    cursor: pointer;
}

.experiment-list-item:hover {
    background-color: gray;
}

#running-list, #interesting-list, #uninteresting-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#running-list { grid-area: running; }
#interesting-list { grid-area: interesting; }
#uninteresting-list { grid-area: uninteresting; }

#experiment-info {
    grid-area: info;
    padding: 10px;

    display: grid;
    grid:
        "details details" min-content
        "spec    impl   " 1fr
        "output  output " 32%
        / 1fr 1fr
    ;
    grid-gap: 10px;
}

#experiment-info .experiment-details {grid-area: details;}
#experiment-info .experiment-source-impl {grid-area: impl;}
#experiment-info .experiment-source-spec {grid-area: spec;}
#experiment-info .experiment-extra-output {grid-area: output;}

.info-box {
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.long {overflow: scroll;}

table {
    border-collapse: collapse;
}
table td:not(:last-child) {
    padding-right: 1ch;
    border-right: 1px solid var(--fg-color);
}
table td:not(:first-child) {
    padding-left: 1ch;
    border-left: 1px solid var(--fg-color);
}

/* Move padding to .tab-box-content if using tabs so that the tabs go all the
 * way to the outer edge of the box */
.info-box.tab-box {padding: 0;}
.info-box.tab-box .tab-box-content {padding: 10px;}

/* Needed to prevent overflow if a child has overflow: scroll */
.tab-box {
    display: flex;
    flex-direction: column;
}

.tab-box .tabs {
    font-size: 1.5em;
    border-bottom: 1px solid var(--fg-color);
}

.tab-box .tabs .tab {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.tab-box .selected {
    background-color: var(--fg-color);
    color: var(--bg-color);
}
